 @model RestaurantRatyerMVC.Models.RatingModels.RatingCreate
 <div class="form-group">
      <label asp-for="RestaurantId" class="control-label"></label>
      <input asp-for="RestaurantId" class="form-control" /> // <-- this is the line we'll refactor
</div>