@model RestaurantRatyerMVC.Models.RatingModels.RatingCreate

@{
    string title = "Rate a Restaurant";
    ViewData["Title"] = title;
}

<h1>@title</h1>
<hr />
  <form asp-action="CreateRating">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div class="form-group">
        <label asp-for="RestaurantId" class="control-label"></label>
        <input asp-for="RestaurantId" class="form-control" />
         <span asp-validation-for="RestaurantId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FoodScore" class="control-label"></label>
        <input asp-for="FoodScore" class="form-control" />
        <span asp-validation-for="FoodScore" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CleanlinessScore " class="control-label"></label>
        <input asp-for="CleanlinessScore " class="form-control" />
        <span asp-validation-for="CleanlinessScore " class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="AtmosphereScore " class="control-label"></label>
        <input asp-for="AtmosphereScore " class="form-control" />
        <span asp-validation-for="AtmosphereScore " class="text-danger"></span>
    </div>
    
     <div class="form-group">
        <input type="submit" value="Rate!" class="btn btn-primary" />
    </div>
  </form>
    <div>
    <a asp-action="Index">Back to List</a>
    </div>
   
    
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}